/*Aqui inciamos a estrutura */
*{
			margin: 0;
			border: 0;
			padding: 0;
		}
		html{
			font-family: arial;
			font-size: 62.5%;
		}

		body{
			background-color: #dcdcdc;
		}
		header{
			background: linear-gradient(to right, #0000CD, #00BFFF);
			font-size: 1.8rem;
			padding: 1rem;
			position: fixed;
			width: 99%;	
		}
		@media(min-width: 300px) and (max-width: 820px) {
			header{
				background: linear-gradient(to right, #0000CD, #00BFFF);
				font-size: 1.6rem;
				padding: 0.5rem;
				position: fixed;
				width: 99%;
			}
		}
		footer{
			background: linear-gradient(to right, #0000CD, #00BFFF);
			color: #fff;
			font-size: 1.8rem;
			padding: 1rem;
			text-align: center;
			text-shadow: 1px 1px 1px #000;
		}

		.container-links{
			display: flex;
			justify-content: space-between;
		}

		.link{
			color: white;
			padding: 4px;
			text-align: right;
		}

		.conteudo{
			font-size: 1.6rem;
			background-color: #fff;
			padding: 1.5rem;
			text-align: justify;
			margin: 0 auto;
			max-width: 100%;
		}
		.conteudo-corpo{
			font-size: 1.6rem;
			background: linear-gradient(to right, #0000CD, #00BFFF);
			padding: 1.5rem;
			text-align: justify;
			margin: 0 auto;
			max-width: 100%;
			padding-top: 12rem;
			padding-left: 100px;
		}
		@media(min-width: 300px) and (max-width: 820px) {
			.conteudo-corpo{
				font-size: 1.6rem;
				background: linear-gradient(to right, #0000CD, #00BFFF);
				padding: 1.5rem;
				text-align: justify;
				margin: 0 auto;
				max-width: 100%;
				padding-top: 12rem;
			}
		}
		.conteudo-topo{
			font-size: 1.6rem;
			background-color: #fff;
			padding: 1.5rem;
			text-align: center;
			margin: 0 auto;
			margin-top: 10rem;
			max-width: 80%;
			padding-top: 3rem;
			border-radius: 20px;
		}
		@media(min-width: 300px) and (max-width: 820px) {
			.conteudo-topo{
				font-size: 1.6rem;
				background-color: #fff;
				padding: 1.5rem;
				text-align: center;
				margin: 0 auto;
				margin-top: 7.5rem;
				max-width: 100%;
				padding-top: 3rem;
				border-radius: 20px;
			}
		}
		/*Aqui iniciamos as fontes do site */
		
		h1{
			font-size: 2.5rem;
		}

		h2{
			font-size: 1.9rem;
			text-align: center;
		}

		#titulo-topo{
			font-size: 3rem;	
			margin: 0;
		}
		h2.titulo-corpo{
			font-size: 2.5rem;
			color: rgb(0, 0, 155);
		}

		h3{
			font-size: 1.7rem;
		}

		h4{
			font-size: 1.6rem;
		}
		
		.tecnologias{
			color: #000;
			text-shadow: none;
			text-align: justify;
		}

		/*controles de imagens*/

		figure{
			text-align: center;
		}

		.imagens-site{
			border-radius: 3px;
			width: 8%;
			height: 5%;
		}
		@media(min-width: 300px) and (max-width: 820px){
			.imagens-site{
			border-radius: 3px;
			width: 90%;
			height: 70%;
		}
		.imagens-corpo{
			width: 95%;
			height: 80%;
			
		}
		#corpo{
			width: 95%;
			height: 80%;
		}
		#logo-topo{
			width: 10%;
			height: 7%;
			margin: 0;
		}
		@media(min-width: 300px) and (max-width: 820px){
			#logo-topo{
				width: 15%;
				height: 8%;
				margin: 0 ;
			}
		}
		@media(min-width: 300px) and (max-width: 820px){
			#desenvolvedor{
			border-radius: 100%;
			width: 30%;
			height: 10%;
		}
		}
		

		}

		#whats{
			right: 0;
			bottom: 0;
			position: fixed;
			text-align: center;
			margin-right: 5px;
			z-index: 1;
		}
		@media(min-width: 300px) and (max-width: 820px){
			#whats{
				right: 0;
				bottom: 0;
				position: fixed;
				text-align: center;
				margin-right: 2px;
				z-index: 1;
			}
		}
		@media(min-width: 300px) and (max-width: 820px){
			.imagens-site{
				width: 70%;
				height: 30%;
			}
		}

		/* config immg-meio*/
		.img-meio{
			max-width: 70%;
		}
		.imagens-produtos-meio{
			border-radius: 3px;
			width: 80%;
			height: auto;
		}
		@media(min-width: 300px) and (max-width: 820px){
			.imagens-produtos-meio{
			
			width: 60%;
			
			}
		}

		/*controle de grids*/

		#grid-conteudo{
			background-color: #fff;
			color: #000;
			
		}

		.grid{
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
			grid-gap: 1px;
			max-width: 1200px;
			margin: 0 auto;
		}
		.grid div{
			background-color: #fff;
			text-align: center;
			padding: 2px;
		}
		/* Aqui inicia a configuração de grids para o topo  */
		#grid-conteudo-corpo{
			text-align: center;
			border-radius: 20px;
		}
		.grid-corpo{
			display: grid;
  grid-template-columns: 1fr;  /* Uma coluna que ocupa tudo */
  gap: 0;
  max-width: 800px;            /* Ajuste o max-width que preferir */
  margin: 0 auto;
  color: #fff;
  text-shadow: 1px 1px #000;
		}
		@media(min-width: 300px) and (max-width: 820px){
			.grid-corpo{
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
				grid-gap: 1px;
				max-width: 1200px;
				margin: 0 auto;
				color: #fff;
				text-shadow: 1px 1px #000;
			}
		}
		.grid div#corpo{
			text-align: center;
			padding: 1px;
			padding-bottom: 5px;
		}

		/*Aqui inicializa a config grid-material-meio*/
		.grid-material-meio{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 25px;
		}
		@media(min-width: 300px) and (max-width: 820px){
		.grid-material-meio{
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		}	
		}

		/* aqui inicia a config da grid-produtos-meio*/

		.grid-container-produtos{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 20x;
			padding: 20px;
		}
		@media (max-width: 820px) {
  		.grid-container-produtos {
    		grid-template-columns: repeat(1, 1fr); /* uma coluna no celular */
  		}
		}

		
		/*aqui inicia a configuração de formulário*/
		#formulario{
			background-color: #dcdcdc;
		}

		input{
			border: solid;
			padding: 5px;
			border-radius: 10px;
			font-size: 1.8rem;
		}
		#mensagem{
			border: solid;
			padding: 5px;
			border-radius: 10px;
			font-size: 1.8rem;
		}
		#btn-limpar{
			background-color: #ff0000;
			color: #fff;
			text-align: center;
			padding: 5px;
			font-weight: bold;
		}
		#btn-enviar{
			background-color: #008000;
			color: #fff;
			text-align: center;
			padding: 5px;
			font-weight: bold;
		}
		nav{
			text-align: right;
			font-size: 1.6rem;
			word-spacing: 10px;
			margin-right: 5%;
			padding-bottom: 5px;
		}
		@media(min-width: 300px) and (max-width: 820px){
			nav{
				text-align: center;
				font-size: 1.6rem;
				word-spacing: 10px;
				padding-bottom: 1px;
			}
		}
		a{
			text-decoration: none;
			color: #fff;
			font-weight: bold;
		}
		a:hover{
			color: #000;
		}
		@media(min-width: 300px) and (max-width: 820px){
			div.video{
				position: relative;
				padding-bottom: 50%;
			}
			div.video > iframe{
				position: absolute;
				top: 5%;
				left: 5%;
				width: 90%;
				height: 90%;
			}
		}
		li{
			text-align: left;
			font-weight: bold;
			margin-left: 3rem;
		}
		